<body>
  <ion-header>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
      <h3>Inicio de sesion</h3>
    </ion-buttons>
    
  </ion-header>
    
    
    
    <div class="ion-padding">
      <ion-card>
        <ion-text color="dark">
          <h1 class="ion-padding">Bienvenido a la mejor app de notas</h1>
        </ion-text>
        <h2 class="ion-padding">Inicia sesion para poder crear grandes recordatorios :)</h2>
       
        <ion-input color="dark" class="ion-padding" label="Email" labelPlacement="floating" placeholder="Ingresa tu email"></ion-input>
        <ion-input color="dark" class="ion-padding" label="Contraseña" labelPlacement="floating" placeholder="Ingresa tu contraseña"></ion-input>
        <div class="ion-text-center ion-padding">
          <ion-button color="dark" expand="block" routerLink="../tabs">Inicia sesión</ion-button>
        </div>
        <p class="ion-text-end ion-padding">¿Olvidaste tu contraseña? Recuperala <a routerLink="../recover-password">aquí</a></p>
        <p class="ion-text-end ion-padding">¿No tienes una cuenta? <a routerLink="/register">Registrate</a></p>
      </ion-card>
     
      
    </div>
   
    
</body>
