<body>
  <ion-header>
    <ion-buttons>
      <ion-back-button defaultHref="/login"></ion-back-button>
      <h3>Recuperacion de contraseña</h3>
    </ion-buttons>
  </ion-header>
  
  <div class="ion-padding">
    <ion-card>
      <ion-text color="dark">
        <p class="ion-padding">Si olvidaste tu contraseña agrega tu direccion de correo electronico para cambiarla</p>
      </ion-text>
      <ion-input class="ion-margin " color="dark" label="Email" labelPlacement="floating" placeholder="Ingresa tu email"></ion-input>
    </ion-card>
  </div>
</body>
