<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-textarea
      placeholder="Título de la nota"
      rows="1"
      maxlength="100">
    </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-textarea
      placeholder="Escribe tu nota aquí..."
      rows="10"
      auto-grow="true">
    </ion-textarea>
  </ion-item>

  <ion-button expand="block" class="ion-margin">
    Guardar notas
  </ion-button>
</ion-content>
